.gridItem {
    padding: '20px';
        margin-bottom: '15px';
        background: '#FFF';
        border: '2px solid #fff';
        position: 'relative';
        transition: border 0.3s ease,
    }

@keyframes rotateBorder {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
