.slideInBox {
  display: block;
  background: #fff !important;
  width: '100%  ';
  border-left: 10px #1176ad solid;
  /* animation: slideInAnimation 0.3s ease-in-out; */
}

@keyframes slideInAnimation {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}
